/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 */

body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.App {
    text-align: center;
}

.App-header {
    background-color: #1f253d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    color: white;
    padding: 20px;
}

h1,
h2,
p,
a,
span {
    color: #fff;
}

/* styling form */
form {
    background: #394264;
    border-radius: 5px;
    padding: 20px;
    text-align: right;
}

form div {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

input[type='text'] {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
input[type='text']:focus {
    border: 1px solid #11a8ab;
    outline: none;
    outline-offset: 5px;
}

label {
    padding-right: 10px;
    width: 85px;
}

/* button styling */
button {
    display: block;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 0.3em;
    transition: background 0.3s;
    text-decoration: none;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

button.add {
    font-size: 8px;
    background: #4fc4f6;
    padding: 1em 1.5em;
    text-transform: uppercase;
    display: inline-block;
}
button.delete {
    background-color: hsl(350, 56%, 70%);
    font-size: 8px;
    padding: 0.5em 1em;
    display: inline;
}
button.delete:hover {
    background-color: hsl(350, 56%, 50%);
}

button.add:hover {
    background: #35aadc;
}

button.deposit,
button.withdraw {
    font-size: 8px;
    padding: 0.5em 1em;
    display: inline;
}
.deposit {
    background-color: hsl(181, 82%, 37%);
    margin-right: 0.5em;
    margin-top: 5px;
}
.deposit:hover {
    background-color: hsl(181, 82%, 32%);
}
.withdraw {
    background: hsl(350, 75%, 60%);
    margin-top: 5px;
}
.withdraw:hover {
    background: hsl(350, 75%, 50%);
}

/* Styling list items */
.accounts-container {
    max-width: 400px;
    text-align: right;
}

.filter {
    margin-bottom: 20px;
}

.filter * {
    font-size: 8px;
}

select {
    background-color: #50597b;
    color: white;
    height: 20px;
    outline: none;
}

.accounts > * {
    background: linear-gradient(90deg, hsl(227, 27%, 25%) 0%, hsl(227, 27%, 35%) 100%);
}
.accounts > div {
    padding: 10px 20px;
}
.accounts > div {
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.accounts > :nth-child(2n) {
    background: linear-gradient(90deg, hsl(215, 54%, 25%) 0%, hsl(215, 54%, 35%) 100%);
}
.accounts p {
    font-size: 12px;
    text-align: left;
}

.info {
    width: 50%;
    text-align: left;
    text-transform: capitalize;
}
.transfers {
    width: 50%;
    text-align: right;
}
.transfers button {
    display: inline-block;
}

@media (min-width: 576px) {
    .accounts-container {
        width: 400px;
    }
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: hsla(0, 0%, 0%, 80%);
}
.modal > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #11a8ab;
    border-radius: 0.5em;
}
